Connected Services/ServiceReference1/DataAccess.DAO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess.DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess.DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EarningsReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="GrossEarnings" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetEarnings" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalItemsSold" type="xs:int" />
      <xs:element minOccurs="0" name="TotalSales" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EarningsReport" nillable="true" type="tns:EarningsReport" />
</xs:schema>