Connected Services/ServiceReference1/MelodiasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MelodiasService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MelodiasService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" type="xs:int" />
      <xs:element minOccurs="0" name="surnames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDataContract" nillable="true" type="tns:EmployeeDataContract" />
  <xs:complexType name="ProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasSales" type="xs:boolean" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
  <xs:complexType name="ArrayOfProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataContract" nillable="true" type="tns:ArrayOfProductDataContract" />
  <xs:complexType name="ArrayOfSaleDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleDataContract" nillable="true" type="tns:SaleDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleDataContract" nillable="true" type="tns:ArrayOfSaleDataContract" />
  <xs:complexType name="SaleDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCancelled" type="xs:boolean" />
      <xs:element minOccurs="0" name="SaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleDetails" nillable="true" type="tns:ArrayOfSaleDetailDataContract" />
      <xs:element minOccurs="0" name="SaleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleDataContract" nillable="true" type="tns:SaleDataContract" />
  <xs:complexType name="ArrayOfSaleDetailDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleDetailDataContract" nillable="true" type="tns:SaleDetailDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleDetailDataContract" nillable="true" type="tns:ArrayOfSaleDetailDataContract" />
  <xs:complexType name="SaleDetailDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="SaleDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleDetailDataContract" nillable="true" type="tns:SaleDetailDataContract" />
</xs:schema>